<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.planeng">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Note_content_Activity"
            android:label="@string/title_activity_note_content_"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Review_out_Activity"
            android:label="@string/title_activity_review_out_"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Book.BookContentActivity"
            android:label="@string/title_activity_book_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Book.BookListActivity"
            android:label="@string/title_activity_book_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Book.BookSetActivity"
            android:label="@string/title_activity_book_set"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Book.BookEditActivity"
            android:label="@string/title_activity_book_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsActivity"
            android:label="NewsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsContentActivity"
            android:label="NewsContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoteActivity"
            android:label="NoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Note_add_Activity"
            android:label="Note_add_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Review_add_Activity"
            android:label="Review_add_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlanActivity"
            android:label="@string/title_activity_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>